<body id = shops_list>
  <div class="shops">
    <% if @shops&.any? %>
      <% @shops.each do |shop| %>
        <div class="shop">
          <div class="pr_image">
            <%= image_tag shop.image_url %>
          </div>
          <div class="pr">
            <br>店舗名： <%= link_to shop.name, shops_path(shop_code: shop.shop_code), method: :post %>
            <br>住所： <%= shop.address %>
            <br><%= shop.pr %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</body>