<body id = shops_list>
    <%= render 'shops/shops', shops: @ranks %>
</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
  <script>
    window.onload = function() {
      new Masonry('body', {
        itemSelector: '.shop',
        gutter: 4
      });
    };
  </script>


