<% if @user.posts.count > 0 %>
  <%= @user.posts.each do |post| %>
    <div class="food">
      <% if post.image? %>
        <%= link_to post do %>
          <%= image_tag post.image.url %>
        <% end %>
      <% end %>
    </div><br>
  <% end %>
<% else %>
  <h2>投稿がありません</h2>
<% end %>