<div class="flex-container">
  <% if posts.count > 0 %>
    <% posts.each do |post| %>
      <% if post.image? %>
        <div class="food, flex-item">
          <%= post.title %>
          <br>
          <%= link_to post do %>
            <%= image_tag post.image.url %>
          <% end %>
          <br><%= link_to post.user.name, user_path(post.user) %>
        </div><br>
      <% end %>
    <% end %>
  <% else %>
    <div class="no_post">
      <h2>投稿がありません</h2>
    </div>
  <% end %>
</div>
