.boby{
  margin:0;
  padding:0;
}

#index, #new, #session{
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.5) 0%, rgba(151, 217, 225, 0.5) 100%),url(line_61429260988960.jpg);  /* 背景画像指定 */
  background-size: cover;
}

.toppage{
  padding-top:10px;
  padding-bottom:10px;
  color: white;
  background-color: rgba(150, 150, 150, 0.7);
}

.login{
    padding-top: 20px;
    color: white;
    background-color: rgba(150, 150, 150, 0.7);
}

.col-sm-6{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.signin{
    padding-top: 20px;
    color: white;
    background-color: rgba(150, 150, 150, 0.7);
}

.navbar{
  color: black;
  background-color: rgba(150, 150, 150, 0.7);
}

#user_show{
  background-color:#FEF9FB;
}


.btn1{
  margin-left:25px;
}

.image{

  margin-left:-18px;
  padding:5px;
  border: 9px solid #00cc00;
  border-Image:linear-gradient(25deg, white,yellow,red,orange,pink);
  border-image-slice:1;
}

.pr_image, 
.pr{
   display: inline-block;
   vertical-align: middle;

}

.pr{
  vertical-align:top;
    margin-top:-200px;
    margin-left:400px;
}

.shop{
  margin-top:5px;
  border:solid 1px #b3b3b3;
  border-top :solid 1px #e0e0e0;
  border-bottom : solid 1px #717171;
  background:linear-gradient(45deg,rgba(255,255,255,0.1),rgba(255,255,255,0.8),rgba(255,255,255,0.9)40%,rgba(255,255,255,0.8),rgba(255,255,255,0.8),rgba(255,255,255,0.8),rgba(255,255,255,0.8),rgb(251,241,124),rgb(251,241,124),rgb(255,255,255),rgba(255,255,255,0.3));
  background-size: auto 100%;
}

.pr_image{
  margin-left:80px;
  box-shadow: 10px 10px 15px -10px;

}

#shops_list{
  background-color: rgb(197,224,254);
}



